<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="col-md-10">
<h1>Add Card</h1>

<%= render 'form' %>

<%= link_to 'Back', cards_path, class: "btn btn-large btn-primary" %>

</div>
</div>
</div>	