@import "bootstrap";

.navbar{
	background-color:#1e60bd;
}

.navbar-inverse .navbar-brand{
	color:white;
}

.navbar-default .navbar-brand{
	color:white;
}

.navbar-brand{
	color:white;
}