<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" role="navigation">
    <div class="container">
        <p style="color:white;" class="navbar-text pull-right">&copy;Copyright 2014 Turecki Design. All rights reserved</p>
    </div>
</nav>